<!-- subjects/templates/subjects/subject_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
</head>
<body>
    <h1>Subjects</h1>
    <div>
        {% for subject in subjects %}
            <div>
                <h2><a href="{% url 'subject_detail' subject.pk %}">{{ subject.name }}</a></h2>
                <p>{{ subject.description }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
